
body{
    background-color: lightgray;
}
h1{
    border: 1px solid black ;
    text-align: center;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 darkgray;
    background-color: lightseagreen;
}

#stylethetable {
    border: 1px solid black; 
    box-shadow:  0 4px 8px 0 darkgray;
    padding-bottom: 40px;
    /* border-spacing: 4px; */
    margin-bottom: 60px;
    padding-left: 25px;
    border-radius: 10px;
    background-color: darkseagreen;
}

table {
    width:98%;
    border-spacing: 4px;
    padding: 10px;  
    border-collapse: collapse;
}
caption {
    text-align: center; 
    margin-top: 7px; 
    padding:5px;
    color: darkblue;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


tr {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

th {
    border: 1px solid black;

}

td {
    border: 1px solid black;
    border-collapse: collapse;
}
.formstyle{
    background-color: powderblue;
    border: 1px solid black;
    margin-bottom: 60px;
    padding:30px;
    width: 40%;
    border-radius: 20px;
    box-shadow:  0 4px 8px 0 rosybrown;

}
#headerstyle{
    text-align: center; 
    font-family:'Franklin Gothic Medium', 'Arial Black', Arial, sans-serif;
}
#formatingstyle{
    background-color: lightcyan;
    padding: 5px;
    border: 1px solid lightcyan ;
    border-radius: 10px;
    
}

.footerstyle{
    margin-top: 50px; 
    margin-bottom: 50px; 
    text-align: center;
}
